<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paveways">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paveways">

        <!-- Google Play Services API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGTXeDN41LWzAtROITpQdBRQJRyGsaL8w" />

        <!-- Google Play Services version -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name=".Auth.LogIn"
            android:exported="true"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.SignUp"/>
        <activity android:name=".ScrollingActivity"/>
        <activity android:name=".Home.HomeActivity"/>
        <activity android:name=".Listings.Listings_Activity"/>
        <activity android:name=".Listings.Listing_Details"/>
        <activity android:name=".Feedback.feedback"/>
        <activity android:name=".Feedback.FeedbackHistory"/>
        <activity android:name=".Appointment.Appointment_Activity"/>
        <activity android:name=".Appointment.Appointment_History"/>
        <activity android:name=".cart.CartDetails"/>
        <activity android:name=".cart.Order_Summary"/>
        <activity android:name=".cart.payment"/>
        <activity android:name=".cart.PlaceOrderActivity"/>
        <activity android:name=".cart.payment2"/>
        <activity android:name=".MyAccount.OrderHistory"/>
        <activity android:name=".MyAccount.OrderHistory_ViewDetails"/>
        <activity android:name=".Staff.Auth.StaffLogin"/>
        <activity android:name=".StaffProfile"/>
        <activity android:name=".Users.Users_Home"/>
        <activity android:name=".Staff.StaffAppointment.StaffAppointment_History"/>
        <activity android:name=".TermsAndConditions"/>
        <activity android:name=".MyAccount.generate_receipts"/>



    </application>

</manifest>